<html>
<head>
</head>
<body>
<!--{{result}}-->
<!--for search-->
<form id="tfnewsearch" method="get" action="http://www.google.com">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
		</form>


{% for a_dict in result %}
	<li>
		<strong>name:{{a_dict["name"]}}</strong><br>
		<p>{{a_dict["price"]}}</p>
		<h4>{{a_dict["description"]}}</h4>
		<strong>{{a_dict["username"]}}</strong>
		{{a_dict["_id"]}}
		{% if session["account_type"] =="buyer" %}
			<form action="/add_to_cart" method="POST">
			<input name="product_id" type="hidden" value="{{a_dict['_id']}}">
			<input name="quantity" type="number" min="1" max = "100" value="1">	
			<input name="price" type="hidden" value="{{a_dict['price']}}">
			<input type=submit value="Add to cart"/>
			</form>
		{% endif %}
	</li>
{% endfor %}
{% if session["account_type"]=="buyer" %}
	<a href ="/cart_page">Click here to check your cart</a>
{% endif %}
<a href = "/logout">Click here logout</a>
</body>
</html>

